*{
    padding: 0px;
   margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

 *::before,
::after{
 box-sizing: border-box;
} 

body{
  
   background-color: rgb(216, 216, 216);
}


/*  grid complex picture */

.newpage{

height: 500px;

width: 950px;


margin:50px auto;

display: grid;

grid-template: "a b c"
               "d b e"
               "f f s" ;

 align-content: space-between;
 justify-content: space-between;

}
#elemnt1 {
    grid-area: a;
    
  
    
}
#elemnt2 {
    grid-area: b;
    background-color: rgb(1, 56, 56);
    
}
#elemnt3 {
    grid-area:c;
    
}
#elemnt4 {
    grid-area:d;

}
#elemnt5 {

    grid-area: e;
    
}
#elemnt6 {
    grid-area: f;
    background-color: rgb(144, 187, 25);
  
}


#elemnt7{
    grid-area: s;

}

.proizvodi{
display: grid;
grid-template: "jedanelement";

align-content: stretch;
justify-content: stretch;
    
}

.proizvodi img{
align-self: stretch;
    justify-self: stretch;
width: 100%;
    height: 100%;

grid-area: jedanelement;

}
.proizvodi .place_holder{

  
display: grid;

justify-content: center;
align-content: center;
grid-area: jedanelement;
align-self: stretch;
    justify-self: stretch;

}

.place_holder a{
color: rgb(0, 0, 0);
text-decoration: none;
}





.container{
 
    display: flex;
padding: 50px;
    background-color: rgb(244, 247, 255);
  
    height: 100vh;
   width: 800px;
   margin: auto auto;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-around ;
    
}


.okvir{
box-shadow: 5px 5px 15px rgba(36, 36, 36, 0.034);
    height: 250px;
    width: 250px;
    border:rgba(0, 0, 0, 0.116) solid 1px;
  transition: all;
display: flex;
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;

justify-content: space-evenly;
background-color: rgb(255, 255, 255);
}

.okvir:hover {
    box-shadow: 5px 5px 15px rgba(36, 36, 36, 0.11);
    
    border: rgba(15, 146, 15, 0.411) solid 1px;

}



.crtice{
    display: flex;
    align-items: center;

    
}

.crtica1{
margin-left: 50px;
margin-right: 8px;
    height: 5px;
    width: 20px;
    background-color: aqua;
    border-radius: 10px;
}

.crtica2 {
    content: '';
    height: 5px;
    width: 20px;
    display: block;
    border-radius: 10px;
    border: 1px solid aqua;
}




 h2 {
     font-size: 22px;
 }








 p{
     font-size: 14px;
     margin-top: 40px;
 }

 .dugme{
     margin-top: 15px;
 height: 24px;
 width: 80px;
 color: black;
 font-weight: bold;
 border: 0px;
 background-color: aqua;
 border-radius: 5px;
 }


.page3{
    /* border: 1px solid black; */
  height: 600px;
width: 800px;
    margin: 200px auto;
  display: flex;
justify-content: center;

  

}

.forma{
width: 200px;
display: flex;
    justify-content: space-between;
    flex-direction: column;

    
    
}


#i-procenat{
    width: 50px;
}

.check{
    margin-top: 5px;
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.radio{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 50px;
    border: 1px solid white;
}
.check2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    height: 150px;
}

.kat{
    
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding-top: 5px;
    align-items: baseline;
    
}



.search{
    margin: 150px auto;
    height: 50px;
    width: 150px;
}

.input{
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.342);
    font-size:small;
   width: 100px;
-moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 1px 2px #0000008a;
    transition: 300ms;
}


.input:hover {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.342);
    font-size: small;
    width: 150px;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 1px 2px #0000008a;
}

.adresa{

margin-top: 5px;
}

.adresa textarea{
    margin-top: 1px;
}

.drzave{
    width: 200px;
}

.drzave select{
    width: 130px;
    margin-left: 10px;
}



.testtable{

    height: 80vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0);
    margin: 100px auto;
    border: 1px solid rgba(0, 0, 0, 0);
}

.testtable ul{
    border: 1px solid black;
list-style-type: none;
background: linear-gradient( 0deg,
rgb(0 0 0 / 0.9),
rgb(0 0 0 / 0)

);

}


#lista-1{
   
    
 width: 500px;
    margin-top:50px;
margin-left: 20px;
margin-bottom: 50px;

}




#lista-1 li{
   padding-bottom: 5px;
    

}


#lista-2{
    width: 500px;
    margin-left: 20px;

}

#lista-2 li {
    padding-bottom: 10px;
}




.testiranje{
height: 100vh;
width: 100vw;
    background-color: #000000;
}