html {
    scroll-behavior: smooth;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:inherit;
}

body{
    font-family: 'Montserrat',
    sans-serif;
}

    


.header {
    
    padding-top: 10px;
    
    border-bottom: 0.5px solid #0d1c3850;
}


.logo_social {

    display: flex;
   padding-bottom: 10px;
}

.logo {

    flex-grow: 1;
}


.social {

    flex-grow: 1;
    text-align: right;
    
}

.social a{
    text-decoration: none;
}




.social a img{
    margin: 6px;
    height: 22px;
    width: 22px;
    opacity: 50%;
}

.social a img:hover{
    opacity: 100%;
   
}


.column{
   
    width: 1000px;
    margin: 0px auto;
}

.h1, span{
    color: #a14508;
}







#pocetna {
background: url('/Projekat1SINGI/Material Icon IMG/bg02.png');
// moze i --->background-repeat: no-repeat;

background-size: cover;
background-attachment: fixed;

text-align: left;
}

#pocetna h1{
    font-size: 45pt;
    padding-top:calc(50vh - 240px); /* na sredini uvek h1 u odnosu na .dark-box*/
    text-align: center;
}

.dark-box {
margin: 50px 120px;
    border: 1px solid rgba(255, 255, 255, 0.521);
    border-radius: 15px;
    background-color: #ffffffc9;
    font-size: 20pt;
    padding:30px 50px ;
    color: #000000;
    box-shadow: 2px 6px 20px #0e264793;
}






#b1{
    padding: 8px 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color:#2d2d2e;
    border: 1px solid #2d2d2e ;
    cursor: pointer;
    border-style: none;
    color: #fcfcfc;
    
    font-weight: bold;
    cursor: pointer;
    
}




#b1:hover{
    background-color:#161616 ;
}

#b2{
    margin-left: 20px;
    padding: 8px 20px;
    border: 1px solid #2d2d2e ;
    cursor: pointer;
    background-color:#00000000;
    font-weight: bold;
    color: #1b1b1b;
}




#b2:hover{
    
    color: #000000;
}


.paragr{
       padding-bottom: 20px;
    }







#Usluge {
    background: url('/Projekat1SINGI/Material Icon IMG/bg03.jpg');
    // moze i --->background-repeat: no-repeat;
    opacity: 80%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: left;
}

#Karijera {
    background: url('/Projekat1SINGI/Material Icon IMG/bg04.jpg');
    // moze i --->background-repeat: no-repeat;
    opacity: 60%;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
}





.krugovi{  
    display: flex;
}
.krug-holder{
    flex-grow: 1;
    text-align: center;
}
.krug{
    background-color: #4669aa;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    /* element unutra je sa svih 
    strana na 25posto-U SREDINI 
    Moze padding: 25%; */
    text-align: center;
    display: inline-block; /* sva tri kruga ravnomerno rasporedjena */
    border-radius:50%; /* krug*/
    width: 200px;/* sirina kruga*/  
    height: 200px;    /*visina kruga*/    
    line-height: 200px;   /* visina texta */
}
.text-spod {
    font-size: 25px;
    font-weight: bold;  
}
.paragraf-o-nama {
text-align: center;
    font-size: 25px;  
}
 h2{
    margin-top: 45px;
    margin-bottom: 45px;
   font-size: 35px;
text-align: center;
}
.tehnologije{
    display:flex;

    
}
.tehno{
width: 50px;
   flex-grow: 1;
    text-align: center;
}
.tehno img{
height: 50px;
width: 50px;
}

.tehno p{
    margin-top: 10px;
    
}




.dimenzije{
    margin-top: 25px;
}

.dimenzije2{
    margin-top: 45px;
margin-bottom: 35px;
}




.page .column {
    height: 100vh;
}



#navigation {
    display:  flex;
  
}

#navigation a {
    flex-grow: 1;
    text-align: center;
    display: block;
    
    padding: 5px;
    text-decoration: none;
    color: #0d1c38;
    
    font-weight: 500;
}

#navigation a:hover{
   
background-color: #def7fd;
}


#navigation a.active{

color:#0d1c38;
border-bottom: 2px solid #4669aa ;


}



#Usluge{
color: #2d2d2e;

}



#Usluge  h2{
padding-top: 40px;
}
.service-row {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;   /* spacing izmedju elemenata*/
}
/* .service-row > div  --znak > znaci: Unutar .sevice-row, 
   direktan prvi child klase .service-row, div je direktan child  */
.service-row > div {
width: 300px;
height: 180px;
box-shadow: 10px 5px 10px rgba(99, 99, 99, 0.452);
text-align: center;
position: relative;
  /* divovi unutar .service-row su realtivni.
 Svi  elementi koji se nalaze unutar njegovog tela,
 Kojima stavimo Absolute, bice pozicionirani absolutno u odnosu na njegovog prvog pretka kojiima position:relative .
 IMG i P ce biti pozicionirani ABSOLUTE u odnosu na DIV koji je relative.Da nismo stavili div-relative, IMG i P bi se pozicionirali na body element*/               
}
.service-row img{
    height: 180px;
    width: 300px;
    
    right: 0px;
    
   
    border: solid #ffffff 0.5px;
     cursor: pointer;
}




.service-row > div > img{
    position: absolute;
}
.service-row > div > p{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
color: #020018;
    padding: 15px;
    background: linear-gradient(#e6646400, #ffffff73, #ffffffcc, #ffffffef, #ffffff );
    
    font-weight:bolder;
    font-size:large;
    cursor: pointer;
}
.paragraf-o-nama, .dimenzije, .psuluge{
    margin-bottom: 25px;
}



#proizvodi h2{
    padding-top: 50px;
text-align: center;
}

.matrica {
    margin-top: 40px;
    height: 500px;
   
    display: grid;
    grid-template:"a b c"
                   "d b e"
                   "f f g" ;
    align-content: space-between ;
    justify-content: space-between;

}

#proizvod-a {
    grid-area: a;
}
#proizvod-b {
    grid-area: b;
}#proizvod-c {
    grid-area: c;
}#proizvod-d {
    grid-area: d;
}#proizvod-e {
    grid-area: e;
}#proizvod-f {
    grid-area: f;
}#proizvod-g {
    grid-area: g;
}

.proizvod{
    display: grid;
    grid-template: "region";
    align-content: stretch;
    justify-content: stretch;
}

.proizvod img{
    grid-area:region;

justify-self:stretch ;
align-self: stretch;
height: 100%;
width: 100%;
}

.proizvod .text-holder{
    color: #ffffff;
    grid-area: region;
    justify-self: stretch;
        align-self: stretch;
        display: grid;
        justify-content:center;
        align-content:flex-end;
        font-size: 20px;
        font-weight: bold;
      

        background: linear-gradient(#def7fd00, #def7fda1, #def7fd);
        opacity: 0.0;
        transition: 200ms;
}
.proizvod .text-holder:hover {
    opacity: 1;
}
.text-holder a{
    color: #2c2c2c;
    text-decoration: none;
    padding-bottom:-10px ; 
    transition: 200ms;

}

.text-holder:hover {
    color: #202020;
    text-decoration: none;
    padding-bottom: 20px;

}


#Karijera h2{
    padding-top: 50px;
}

.career-columns{
    display: flex;
    

    
}

 .job-list{
     flex-grow: 1;
    flex-basis: 0;
 }

  .job-list label{
      display: block;
      margin-bottom: 10px;
      border: 1px solid #a1a1a1;
      padding: 8px;
      font-weight: bold;
      background-color: #fff;
      font-size: 18px ;

  }

.job-descriptionS{
    flex-grow: 2;
    flex-basis: 0;
}

.job-descriptionS input {

    display: none;
}

// sakriveni svi elementi u .job-description
.job-descriptionS .job-description{
    display: none;
}

// vidljivi samo oni elementi koji imaju .job-description klasu
// koji se nalaze odmah uz radio box koji je cekiran u tom trenutku
// koji su odabrani u labelu
.job-descriptionS input:checked+.job-description{
    display: block;

}
  .job-description {
     

        margin-left: 20px;
        border: 1px solid #b3b1b1;
        padding: 15px;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
        
 }

 .job-description h3, p, ul{
padding-bottom: 10px;

 }
.job-description li{
    margin-left: 20px;
    padding-bottom: 5px;
}



#kontakt {

}




.kontakt-region {
    display: grid;
    grid-template: "adrese mapa"
                   "mejlovi mapa";

                   grid-template-columns: 300px 1fr;
}

.kontakt-adrese{
padding-bottom: 15px;
    grid-area: adrese;
    font-size: 14px;
}

.kontakt-mejlovi {
font-size: 14px;
    grid-area: mejlovi;
}

.kontakt-mejlovi a{
    color: red;
    text-decoration: none;
}
.kontakt-mejlovi a:hover {
    color: rgb(29, 41, 206);
    
}

.kontakt-map {

    grid-area: mapa;
}



.footer{
flex-grow: 1;
    flex-basis: 0;
    border-top: 3px solid black;
   
}

.footer .foo{
    padding-top: 20px;
    padding-bottom: 50px;
} 

.footer>.column{
    display: flex;
}

 .foo{
     flex-grow: 1;
     flex-basis: 0;
 }


 .leva-strana{
     text-align: left;
     font-size: 12px;
 }

 .centar-strana{
font-size: 12px;
    text-align: center;
 }

  .desna-strana {
font-size: 12px;
      text-align: right;

  }

  .desna-strana a{
      color: #1b1b1b;
      text-decoration: none;
  }
  .desna-strana a:hover {
      color: red;
      text-decoration: none;
  }